body
{
	margin: 0;
	background: black;
}
#signup_form
{
	background: navy;
	width: 50%;
	left: 25%;
	position: absolute;
	text-align: center;
	color:#fff;
	font-style: italic;
	font-family: verdana;
	font-weight: bold;
}
input
{
	width: 50%;
	border: skyblue 1px solid;
	font-style: italic;
	font-family: verdana;
	font-weight: bold;
	color: red;
	margin: 2%;
}